<style media="screen">




</style>

<main>

  <form action="/users/login" method="POST">

    <h2 class="form-signin-heading">Login:</h2>

    <div class="field">

      <input type="email" name="email" class="input" id="inputEmail" placeholder=" " >
      <label for="inputEmail" class="label" >Email</label>


    </div>

    <div class="field">

      <input type="password" name="password" class="input" id="inputPassword" placeholder="  " required>
      <label for="inputPassword" class="label" >Password</label>

    </div>

    <button  class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

</main>
