

<div class ="data-form">
  <main>

    <form action="/users/create" method="POST">
      <h2>Create a new user:</h2>

      <div class="field">
        <input type ="text" name="first" class="input" id="inputFirstName"
        placeholder ="  " autofocus>
        <label for="inputFirstName" class="label">First Name</label>
      </div>


      <div class="field">
        <input type ="text" name="last" class="input" id="inputLastName"
        placeholder ="  ">
        <label for="inputLastName" class="label">First Name</label>

      </div>

      <div class="field">
        <input type="password" name="password" class="input" id="inputPassword"
        placeholder="  " >
        <label for="inputPassword" class="label">Password</label>
      </div>

      <div class="field">
        <input type="email" name="email" class="input" id="inputEmail"
        placeholder="  " >
        <label for="inputEmail" class="label">Email address</label>
      </div>


   <div class="field">
     <input type="text" name="zipCode" class="input" id="inputZipCode" pattern="\d*"
     placeholder="  " >
     <label for="inputZipCode" class="label">Zip Code</label>
   </div>

      <button type="submit">Sign in</button>

    </form>

  </main>
</div>
