<div class ="data-form">




    <form action="/users/create" method="POST">
      <h2>Create a new user:</h2>

      <div class="field">
        <label for="inputFirstName">First Name</label>
        <input type ="text" name="first" class="input" id="inputFirstName"
        placeholder ="  " autofocus>
      </div>


      <div class="field">
        <label for="inputLastName">First Name</label>
        <input type ="text" name="last" class="input" id="inputLastName"
        placeholder ="  ">

      </div>

      <div class="field">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" class="input" id="inputPassword"
        placeholder="  " required>
      </div>

      <div class="field">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" class="input" id="inputEmail"
        placeholder="  " required>
      </div>


   <div class="field">
     <label for="inputZipCode">Zip Code</label>
     <input type="text" name="zipCode" id="inputZipCode" pattern="\d*"
     placeholder="Zip Code" required>
   </div>

      <button type="submit">Sign in</button>

    </form>

</div>
